/*:root {
    --font-family: "M PLUS Rounded 1c", serif;

    --font-size-text: clamp(1rem, 3vw + 0.5rem, 1.5rem);
    --font-size-h3: clamp(1.2rem, 5vw + 0.5rem, 1.6rem);
}

$font-family: var(--font-family);
$font-size-text: var(--font-size-text);
$font-size-h3: var(--font-size-h3);*/
/*:root {
    --font-family: "M PLUS Rounded 1c", serif;

    --font-size-text: clamp(1rem, 3vw + 0.5rem, 1.5rem);
    --font-size-h3: clamp(1.2rem, 5vw + 0.5rem, 1.6rem);
}

$font-family: var(--font-family);
$font-size-text: var(--font-size-text);
$font-size-h3: var(--font-size-h3);*/
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 15px;
  font-weight: 500;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__primary {
  border-width: 2px;
  border-style: solid;
  border-color: #0fbda6;
  background-color: #0fbda6;
  color: #f4f9f9;
}
.btn__primary:hover {
  border-color: #1accb4;
  background-color: #1accb4;
}
.btn__primary:active {
  border-color: #0cb19b;
  background-color: #0cb19b;
}
.btn__primary--flat {
  border-width: 0;
  background-color: transparent;
  color: #0fbda6;
}
.btn__primary--flat:hover {
  background-color: #1accb4;
  color: #f4f9f9;
}
.btn__primary--flat:active {
  background-color: #0cb19b;
  color: #f4f9f9;
}
.btn__accent {
  border: 2px solid #71a3e5;
  background-color: #71a3e5;
  color: #f4f9f9;
}
.btn__accent:hover {
  border: 2px solid #71a3e5;
  background-color: #71a3e5;
  color: #f4f9f9;
}
.btn__accent--flat {
  border: 0px solid #71a3e5;
  background-color: transparent;
  color: #71a3e5;
}
.btn__accent--flat:hover {
  border: 0px solid #71a3e5;
  background-color: #71a3e5;
  color: #f4f9f9;
}

.schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.schedule__main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.shift__color {
  width: 40px;
  height: 40px;
  border: 1px solid #0fbda6;
}