/*:root {
    --font-family: "M PLUS Rounded 1c", serif;

    --font-size-text: clamp(1rem, 3vw + 0.5rem, 1.5rem);
    --font-size-h3: clamp(1.2rem, 5vw + 0.5rem, 1.6rem);
}

$font-family: var(--font-family);
$font-size-text: var(--font-size-text);
$font-size-h3: var(--font-size-h3);*/
/*:root {
    --font-family: "M PLUS Rounded 1c", serif;

    --font-size-text: clamp(1rem, 3vw + 0.5rem, 1.5rem);
    --font-size-h3: clamp(1.2rem, 5vw + 0.5rem, 1.6rem);
}

$font-family: var(--font-family);
$font-size-text: var(--font-size-text);
$font-size-h3: var(--font-size-h3);*/
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 15px;
  font-weight: 500;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid black;
}
.btn__primary {
  border-color: #0fbda6;
  background-color: #0fbda6;
  color: #f3f6f9;
}
.btn__primary:hover {
  border-color: #11d4ba;
  background-color: #11d4ba;
}
.btn__primary:active {
  border-color: #0da591;
  background-color: #0da591;
}
.btn__primary--flat {
  background-color: transparent;
  border-color: transparent;
  color: #0fbda6;
}
.btn__primary--flat:hover {
  background-color: #11d4ba;
  border-color: transparent;
  color: #f3f6f9;
}
.btn__primary--flat:active {
  background-color: #0da591;
  border-color: transparent;
  color: #f3f6f9;
}
.btn__accent {
  border-color: #71a3e5;
  background-color: #71a3e5;
  color: #f3f6f9;
}
.btn__accent:hover {
  border-color: #7eabe7;
  background-color: #7eabe7;
  color: #f3f6f9;
}
.btn__accent:active {
  background-color: #689ee3;
  border-color: #689ee3;
  color: #f3f6f9;
}
.btn__accent--flat {
  background-color: transparent;
  border-color: transparent;
  color: #71a3e5;
}
.btn__accent--flat:hover {
  border-color: transparent;
  background-color: #7eabe7;
  color: #f3f6f9;
}
.btn__accent--flat:active {
  border-color: transparent;
  background-color: #689ee3;
  color: #f3f6f9;
}
.btn__danger {
  border-color: #db3232;
  background-color: #db3232;
  color: #f3f6f9;
}
.btn__danger:hover {
  border-color: #e05252;
  background-color: #e05252;
  color: #f3f6f9;
}
.btn__danger:active {
  background-color: #c32222;
  border-color: #c32222;
  color: #f3f6f9;
}
.btn__danger--flat {
  background-color: transparent;
  border-color: transparent;
  color: #db3232;
}
.btn__danger--flat:hover {
  border-color: transparent;
  background-color: #e05252;
  color: #f3f6f9;
}
.btn__danger--flat:active {
  border-color: transparent;
  background-color: #c32222;
  color: #f3f6f9;
}

/*:root {
    --font-family: "M PLUS Rounded 1c", serif;

    --font-size-text: clamp(1rem, 3vw + 0.5rem, 1.5rem);
    --font-size-h3: clamp(1.2rem, 5vw + 0.5rem, 1.6rem);
}

$font-family: var(--font-family);
$font-size-text: var(--font-size-text);
$font-size-h3: var(--font-size-h3);*/
.input {
  outline: none;
  padding: 5px 10px;
  border-color: #0fbda6;
  border: 0 solid black;
}
.input:focus {
  border-color: #71a3e5;
  -webkit-box-shadow: 0 0 8px #71a3e5;
          box-shadow: 0 0 8px #71a3e5;
}
.input__text {
  background-color: #ffffff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-bottom: 2px solid #0fbda6;
  width: 100%;
}
.input__text--outlined {
  border: 2px solid #0fbda6;
  border-radius: 5px;
}
.input__date {
  border: 2px solid #0fbda6;
  border-radius: 5px;
}
.input__select {
  background-color: #ffffff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 2px solid #0fbda6;
  border-radius: 5px;
}
.input__color {
  padding: 0;
  border: 2px solid #0fbda6;
  border-radius: 5px;
}
.input__error {
  color: #db3232;
}
.input__checkbox {
  width: clamp(1rem, 3vw + 0.5rem, 1.5rem);
  height: clamp(1rem, 3vw + 0.5rem, 1.5rem);
}

/*:root {
    --font-family: "M PLUS Rounded 1c", serif;

    --font-size-text: clamp(1rem, 3vw + 0.5rem, 1.5rem);
    --font-size-h3: clamp(1.2rem, 5vw + 0.5rem, 1.6rem);
}

$font-family: var(--font-family);
$font-size-text: var(--font-size-text);
$font-size-h3: var(--font-size-h3);*/
.table {
  width: 100%;
  border: 1px solid #0fbda6;
}
.table thead {
  border-bottom: 1px solid #0fbda6;
}
.table thead tr th {
  color: #0fbda6;
  font-weight: 500;
}
.table tbody tr {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.table th {
  width: auto;
  font-size: clamp(1rem, 3vw + 0.5rem, 1.5rem);
  padding: 10px 15px;
  font-weight: 400;
}
.table th.main {
  width: 100%;
}
.table th.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.loading {
  width: 60px;
  height: 60px;
  border: 4px solid rgba(15, 189, 166, 0.5);
  border-top: 4px solid #0fbda6;
  border-radius: 50%;
  -webkit-animation: spin 1.1s ease infinite;
          animation: spin 1.1s ease infinite;
}

.schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  height: 100%;
}
.schedule__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.schedule__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.schedule__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.schedule .shifts-table {
  display: -ms-grid;
  display: grid;
  overflow: auto;
  max-height: 350px;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  border: 3px solid #0fbda6;
  border-radius: 8px;
}
.schedule .shifts-table > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.schedule .shifts-table > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.schedule .shifts-table > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.schedule .shifts-table--referenced-shifts {
  -ms-grid-columns: auto 1fr auto auto;
  grid-template-columns: auto 1fr auto auto;
}
.schedule .shifts-table__row {
  display: contents;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.schedule .shifts-table__row:hover .shifts-table__item {
  background-color: rgba(113, 163, 229, 0.1);
}
.schedule .shifts-table__row--header .shifts-table__item {
  background-color: #0fbda6;
  border-bottom: 2px solid #0fbda6;
  color: #f3f6f9;
  font-weight: 500;
}
.schedule .shifts-table__row--header:hover .shifts-table__item {
  background-color: #0fbda6;
}
.schedule .shifts-table__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.schedule .shifts-table__item--centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.schedule .shifts-table__item--color span {
  border: 2px solid #0b8e7c;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}
.schedule .shifts-table__item--controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.schedule .shifts-table__item--time {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}