@using WorkyOne.MVC.Models.Authentification
@using AspNetCore.ReCaptcha

@model LogInViewModel

@{
    ViewData["Title"] = "Вход";
}

<head>
    <link rel="stylesheet" href="~/css/Pages/Account/SignIn.css" />
    <script src="~/js/Account/script.js" asp-append-version="true"></script>
</head>


<div class="signIn">
    <div class="card">
        <header class="card__section signIn__header">
            <h3>Вход в аккаунт</h3>
        </header>
        <div class="card__divider card__divider--primary"></div>
        <form id="signin-form" class="" asp-action="SignIn" method="post">
            <main class="card__section signIn__main">
                <div class="section">
                    <label class="title" asp-for="Username"></label>
                    <input class="input input__text input__text--outlined" asp-for="Username" type="text" />
                </div>
                <div class="section">
                    <span class="validation" asp-validation-for="Username"></span>
                </div>
                <div class="section">
                    <label class="title" asp-for="Password"></label>
                    <input class="input input__text input__text--outlined" asp-for="Password" type="password" />
                </div>
                <div class="section">
                    <span class="validation" asp-validation-for="Password"></span>
                </div>
                <div class="section section--rememberMe">
                    <label class="title" asp-for="RememberMe"></label>
                    <input class="input__checkbox" type="checkbox" asp-for="RememberMe" />
                </div>
                <div class="section">
                    <div class="validation" asp-validation-summary="ModelOnly"></div>
                </div>
            </main>
            <footer class="card__section signIn__footer">
                <recaptcha class-name="btn btn__primary" text="Войти" callback="submitForm" />
            </footer>
        </form>
    </div>
</div>

