$color-background: #f4f9f9;
$color-background-fg: #020808;

// Primary
$color-primary: #0fbda6;
$color-primary-300: #1accb4;
$color-primary-500: $color-primary;
$color-primary-800: #0cb19b;

$color-primary-transparent-5: rgba(15, 189, 166, 0.5);

$color-primary-fg: #f4f9f9;
//

$color-secondary: #93cfd7;
$color-secondary-fg: #f4f9f9;

$color-accent: #71a3e5;
$color-accent-fg: #f4f9f9;
