@using WorkyOne.MVC.Models.Common
@using WorkyOne.AppServices.Interfaces.Services.Auth

@inject IAuthService authService
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WorkyOne</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WorkyOne.MVC.styles.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />*@
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/_Layout/modal.js" asp-append-version="true"></script>

</head>
<body class="_layout">
    <div id="modal-global" class="modal">
    </div>
    <header class="header wrapper wrapper--padding">
        <nav class="nav">
            <div class="nav__panel">
                <div class="panel__element panel__burger burger">
                    <span class="burger__line burger__line--top"></span>
                    <span class="burger__line burger__line--middle"></span>
                    <span class="burger__line burger__line--bottom"></span>
                </div>
                <div class="panel__instruments">
                    <div class="panel__element">
                        @if (!authService.IsAuthenticated())
                        {
                            <a asp-controller="Account" asp-action="SignIn" class="material-symbols-outlined">login</a>
                        }
                    </div>
                </div>
            </div>
            <div class="nav__list">
                <a asp-controller="Home" asp-action="Index">Главная</a>
                @if (authService.IsAuthenticated())
                {
                    <a href="#">Профиль</a>
                    <a asp-controller="Schedules" asp-action="Index">Управление расписаниями</a>
                    <a asp-controller="Account" asp-action="SignOut">Выйти из аккаунта</a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="SignIn">Вход в аккаунт</a>
                }
            </div>
        </nav>
    </header>
    <main class="main">
        @RenderBody()
    </main>
    <footer class="footer">        
    </footer>   
    
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    <script src="~/js/_Layout/nav.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
