@using WorkyOne.Contracts.DTOs.Common

@model List<UserInfoDto>


<div class="users__table grid-table">
    <div class="grid-table__row grid-table__row--header">
        <div class="grid-table__item">Имя пользователя</div>
        <div class="grid-table__item">Роли</div>
        <div class="grid-table__item">Активирован</div>
        <div class="grid-table__item">Действия</div>
    </div>
    @foreach (var user in Model)
    {
        <div data-id="@user.Id" class="grid-table__row">
            <div class="grid-table__item">@user.UserName</div>
            <div class="grid-table__item users__table-item--roles">
                @foreach(var role in user.Roles) {
                    <span>@role</span>
                }
            </div>
            <div class="grid-table__item grid-table__item--centered">
                <input class="input input__checkbox" type="checkbox" onclick="return false;" @(user.IsActivated ? "checked=\"checked\"" : "") />
            </div>
            <div class="grid-table__item grid-table__item--controls">
                @if (!user.IsActivated)
                {
                    <button class="material-symbols-outlined btn btn__primary">check</button>
                }
                <button class="material-symbols-outlined btn btn__primary edit">edit</button>
                <button class="material-symbols-outlined btn btn__danger">delete</button>
            </div>
        </div>        
    }
</div>