@using WorkyOne.MVC.Models.Schedule
@model NewScheduleViewModel

<form method="post" asp-controller="schedules" asp-action="create" class="card schedule__new modal__content">
    <input hidden="hidden" asp-for="UserDataId" />
    <section class="card__section">
        <h6>Создание расписания</h6>
    </section>
    <section class="card__section">
        <label asp-for="ScheduleName"></label>
        <input class="input input__text--outlined" type="text" asp-for="ScheduleName" />
        <span class="input__error" asp-validation-for="ScheduleName"></span>
    </section>
    <section class="card__section card__section--row">
        <button type="submit" class="material-symbols-outlined btn btn__primary">check</button>
        <button class="material-symbols-outlined btn btn__accent close">close</button>
    </section>    
</form>