@using WorkyOne.MVC.Models.Schedule

@model ShiftViewModel

<head>
    <link rel="stylesheet" href="~/css/Pages/Schedules/Shift.css" asp-append-version="true" />
</head>

<form method="post" class="shift card">
    <section class="card__section card__section--row">
        <input type="color" asp-for="Shift.ColorCode" class="shift__color" />
        <div class="shift__name">
            <label asp-for="Shift.Name"></label>
            <input asp-for="Shift.Name" class="input__text" />
            <span asp-validation-for="Shift.Name" class="input__error"></span>
        </div>
    </section>
</form>