/*:root {
    --font-family: "M PLUS Rounded 1c", serif;

    --font-size-text: clamp(1rem, 3vw + 0.5rem, 1.5rem);
    --font-size-h3: clamp(1.2rem, 5vw + 0.5rem, 1.6rem);
}

$font-family: var(--font-family);
$font-size-text: var(--font-size-text);
$font-size-h3: var(--font-size-h3);*/
.users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  height: 100%;
}
.users__main {
  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /*align-items: start;*/
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 15px 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 15px;
      grid-template-areas: "filters" "table";
}
@media (min-width: 1100px) {
  .users__main {
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 3fr 15px 2fr;
    grid-template-columns: 3fr 2fr;
        grid-template-areas: "table filters";
  }
}
.users__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.users__table {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: table;
  -ms-grid-columns: 3fr 2fr auto auto;
  grid-template-columns: 3fr 2fr auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  -ms-flex-line-pack: start;
      align-content: start;
  max-height: 500px;
}
.users__table > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.users__table > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.users__table > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.users__table > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.users__table-item--roles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}
.users__table-item--roles span {
  padding: 3px 8px;
  border-radius: 10px;
  background-color: #71a3e5;
  color: #f3f6f9;
}
.users__filters {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: filters;
}
@media (min-width: 1100px) {
  .users__table {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .users__filters {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
.users__filters-list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
}
.users__filters-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.users__filters-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.users__filters-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
}
.users__filters-item--activated div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}