@import "../../Imports/bootstrap_reboot.scss";
@import "../../Imports/_all.scss";

@import "../../Elements/Modal.scss";
@import "../../Elements/Card.scss";
@import "../../Elements/Select.scss";
@import "../../Elements/Button.scss";
@import "../../Elements/Input.scss";

html {
}

h6 {
    font-size: $font-size-h6;
    font-weight: 500;
    color: $color-primary;
}

h3 {
    font-size: $font-size-h3;
    font-weight: 500;
    color: $color-primary;
}

h2 {
    font-size: $font-size-h2;
    font-weight: 500;
    color: $color-primary;
}

h1 {
    font-size: $font-size-h1;
    font-weight: 500;
    color: $color-primary;
}

form {
    /*height: 100%;*/
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;

    &--padding {
        padding: 0 15px;
    }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;

    &--filled {
        font-variation-settings: 'FILL' 1;
    }
}


._layout {
    height: 100dvh;
    background-color: $color-background;
    color: $color-background-fg;
    /*display: flex;
    flex-direction: column;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 15px;
    font-family: $font-family;
    font-size: $font-size-text;


    .header {

        .nav {
            position: relative;
            $transition: all ease 0.3s;
            /*$shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);*/
            $shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);

            &__panel {
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 25px;
                position: relative;
                border-radius: 30px 30px 30px 30px;
                margin: 5px 0;
                padding: 15px 30px;
                background-color: $color-primary;
                color: $color-primary-fg;
                box-shadow: $shadow;
                transition: $transition;

                &--active {
                    border-radius: 30px 30px 30px 3px;
                }

                .panel {

                    &__burger {
                        z-index: 5;
                        transition: $transition;
                    }

                    &__instruments {
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: row;
                        flex: 1 0 auto;
                    }

                    &__element {
                        width: 40px;
                        height: 40px;
                        color: $color-primary-fg;

                        .material-symbols-outlined {
                            text-decoration: none;
                            cursor: pointer;
                            color: $color-primary-fg;
                            font-size: 40px;
                        }
                    }

                    &__profile {
                    }
                }
            }

            &__list {                
                position: absolute;
                display: flex;
                flex-direction: column;
                z-index: 5;
                bottom: -5px;
                border-radius: 3px 0px 10px 10px;
                box-shadow: $shadow;
                transform: translate(0, 100%);
                min-width: 200px;
                max-height: 0px;
                background-color: $color-primary;
                overflow-y: hidden;
                transition: $transition;
                padding: 0px 0px;

                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: $color-primary-fg;
                    font-weight: 500;
                    padding: 12px 15px;

                    @media(min-width: $bp-tablet) {
                        padding: 5px 15px;
                    }

                    &:hover {
                        background-color: $color-accent;
                        color: $color-accent-fg;
                    }
                }

                &--active {
                    max-height: 500px;
                    padding: 5px 0px;
                }
            }
        }
    }

    .main {
        /*flex: 1 0 auto;*/
        /*padding: 15px 0;*/
        /*overflow: hidden;*/
    }

    .footer {
    }
}

.burger {
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 40px;

    &__line {
        position: absolute;
        background-color: $color-primary-fg;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        transition: all ease 0.3s;
        transform-origin: center;

        &--top {
            top: 0;
            transform: translate(0, 100%);
        }

        &--middle {
            top: 50%;
            transform: translate(0, -50%);
        }

        &--bottom {
            bottom: 0;
            transform: translate(0, -100%);
        }
    }

    &--active {

        .burger__line {
            &--top {
                top: 50%;
                transform: translate(0, -50%) rotate(45deg);
            }

            &--middle {
                transform: translate(0, -50%) scale(0);
            }

            &--bottom {
                bottom: 50%;
                transform: translate(0, 50%) rotate(-45deg);
            }
        }
    }
}


