@using WorkyOne.MVC.Models.Common

@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper wrapper--padding">
    @await Html.PartialAsync("_CalendarPartial", Model.CalendarViewModel)
</div>
