/*:root {
    --font-family: "M PLUS Rounded 1c", serif;

    --font-size-text: clamp(1rem, 3vw + 0.5rem, 1.5rem);
    --font-size-h3: clamp(1.2rem, 5vw + 0.5rem, 1.6rem);
}

$font-family: var(--font-family);
$font-size-text: var(--font-size-text);
$font-size-h3: var(--font-size-h3);*/
/*:root {
    --font-family: "M PLUS Rounded 1c", serif;

    --font-size-text: clamp(1rem, 3vw + 0.5rem, 1.5rem);
    --font-size-h3: clamp(1.2rem, 5vw + 0.5rem, 1.6rem);
}

$font-family: var(--font-family);
$font-size-text: var(--font-size-text);
$font-size-h3: var(--font-size-h3);*/
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 15px;
  font-weight: 500;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__primary {
  border-width: 2px;
  border-style: solid;
  border-color: #0fbda6;
  background-color: #0fbda6;
  color: #f3f6f9;
}
.btn__primary:hover {
  border-color: #1accb4;
  background-color: #1accb4;
}
.btn__primary:active {
  border-color: #0cb19b;
  background-color: #0cb19b;
}
.btn__primary--flat {
  border-width: 0;
  background-color: transparent;
  color: #0fbda6;
}
.btn__primary--flat:hover {
  background-color: #1accb4;
  color: #f3f6f9;
}
.btn__primary--flat:active {
  background-color: #0cb19b;
  color: #f3f6f9;
}
.btn__accent {
  border: 2px solid #71a3e5;
  background-color: #71a3e5;
  color: #f3f6f9;
}
.btn__accent:hover {
  border: 2px solid #71a3e5;
  background-color: #71a3e5;
  color: #f3f6f9;
}
.btn__accent--flat {
  border: 0px solid #71a3e5;
  background-color: transparent;
  color: #71a3e5;
}
.btn__accent--flat:hover {
  border: 0px solid #71a3e5;
  background-color: #71a3e5;
  color: #f3f6f9;
}

._calendar {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
._calendar__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
._calendar__info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}
._calendar__info-row .row__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 14.2857142857%;
  border-bottom: 1px solid #0fbda6;
  border-right: 1px solid #0fbda6;
}
._calendar__info-row .row__item:last-child {
  border-right: 0px solid #0fbda6;
}
._calendar__info-row:last-child .row__item {
  border-bottom: 0px solid #93cfd7;
}
._calendar__info-row .week-day-name {
  padding: 5px;
  text-align: center;
}
._calendar__info-row .day {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 10px 7px;
  width: 100%;
  font-size: clamp(0.9rem, 1.5vw + 0.5rem, 1.3rem);
}
._calendar__info-row .day__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
._calendar__info-row .day__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
}
._calendar__info-row .day__section {
  text-align: left;
}
._calendar__info-row .day--inactive {
  opacity: 0.3;
}
._calendar__info-row .day--today {
  border: 2px solid red;
  padding: 8px 5px;
}
._calendar__footer .legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
._calendar__footer .legend__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
._calendar__footer .legend__color {
  width: 30px;
  height: 30px;
  border: 1px solid #020808;
}
._calendar__footer .legend__name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.month-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.month-selector__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  color: #0fbda6;
  font-weight: 500;
}