@import "../../Imports/_all.scss";
@import "../../Elements/Button.scss";

.schedules {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .header {


        &__info {
            font-size: $font-size-h3;
            font-weight: 500;
            color: $color-primary;
        }

        &__control {
            display: flex;
        }
    }


    &__body {
        flex: 1;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media(min-width: $bp-tablet) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__item {
        flex: 1 1 auto;

        @media(min-width: $bp-tablet) {
            min-width: 45%;
        }

        @media(min-width: $bp-pc) {
            min-width: 25%;
        }

        &-controls {
            flex-direction: row;
            justify-content: flex-end;

            .favorite {
                transition: all 0.3s ease;

                &--active {
                    font-variation-settings: 'FILL' 1;
                }
            }
        }

        &-title {

            h3 {
                font-weight: 600;
            }
        }
    }
}