@import "../../Imports/_all.scss";

@import "../../Elements/Input.scss";
@import "../../Elements/Button.scss";

.signIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: auto;

    &__body {
    }

    &__header {
    }

    &__main {

        .section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;

            &--rememberMe {
                flex-direction: row;
                align-items: center;
            }

            .title {
                color: $color-primary;
                font-weight: 500;
            }

            .validation {
                color: $color-danger;
            }
        }
    }

    &__footer {
    }
}