@import "../../Imports/_all.scss";

.calendar {

    &__body {
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 700px;
        margin: 0 auto;
    }

    &__header {

        .monthSelector {
            display: flex;
            flex-direction: row;
            align-items: center;

            &__arrow {
                color: $color-primary;
                cursor: pointer;
            }

            &__info {
                flex: 1;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 10px;
                color: $color-primary;

                p {
                    font-weight: 500;
                }
            }
        }
    }



    &__main {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border: 2px solid $color-primary;
    }

    &__footer {

        .legend {
            display: flex;
            flex-direction: column;
            gap: 10px;

            &__item {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
            }

            &__color {
                width: 30px;
                height: 30px;
                border: 1px solid $color-background-fg;
            }

            &__name {
                flex: 1;
            }
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        width: 100%;


        .row {

            &__item {
                flex: 1;
                display: flex;
                flex-direction: column;
                max-width: calc(100% / 7);
                border-bottom: 1px solid $color-primary;
                border-right: 1px solid $color-primary;

                &:last-child {
                    border-right: 0px solid $color-primary;
                }
            }
        }


        &:last-child {

            .row__item {
                border-bottom: 0px solid $color-secondary;
            }
        }

        .dayWeekName {
            padding: 5px;
            text-align: center;
        }

        .day {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: stretch;
            padding: 10px 7px;
            width: 100%;
            font-size: clamp(0.9rem, 1.5vw + 0.5rem, 1.3rem);
            //min-height: 80px;

            &__title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            &__number {
            }

            &__name {
            }

            &__body {
                display: flex;
                flex-direction: column;
                gap: 3px;
            }

            &__section {
                text-align: left;
            }

            &--inactive {
                opacity: 0.3;
            }

            &--today {
                border: 2px solid red;
                padding: 8px 5px;
            }
        }
    }

    &__day {
    }

    &__legend {
    }
}
