@import "../../Imports/_all.scss";

.home {
    display: flex;
    flex-direction: column;

    @media(min-width: $bp-tablet) {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
    }

    &__header {
    }

    &__main {
        flex: 1;
    }

    &__footer {

    }

    &__calendar {
        
    }
}
