/*:root {
    --font-family: "M PLUS Rounded 1c", serif;

    --font-size-text: clamp(1rem, 3vw + 0.5rem, 1.5rem);
    --font-size-h3: clamp(1.2rem, 5vw + 0.5rem, 1.6rem);
}

$font-family: var(--font-family);
$font-size-text: var(--font-size-text);
$font-size-h3: var(--font-size-h3);*/
/*:root {
    --font-family: "M PLUS Rounded 1c", serif;

    --font-size-text: clamp(1rem, 3vw + 0.5rem, 1.5rem);
    --font-size-h3: clamp(1.2rem, 5vw + 0.5rem, 1.6rem);
}

$font-family: var(--font-family);
$font-size-text: var(--font-size-text);
$font-size-h3: var(--font-size-h3);*/
.input {
  outline: none;
  padding: 5px 10px;
  border-color: #0fbda6;
  border: 0 solid black;
}
.input:focus {
  border-color: #71a3e5;
  -webkit-box-shadow: 0 0 8px #71a3e5;
          box-shadow: 0 0 8px #71a3e5;
}
.input__text {
  background-color: #ffffff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-bottom: 2px solid #0fbda6;
  width: 100%;
}
.input__text--outlined {
  border: 2px solid #0fbda6;
  border-radius: 5px;
}
.input__date {
  border: 2px solid #0fbda6;
  border-radius: 5px;
}
.input__select {
  background-color: #ffffff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 2px solid #0fbda6;
  border-radius: 5px;
}
.input__color {
  padding: 0;
  min-height: 40px;
  width: 100%;
  border: 2px solid #0fbda6;
  border-radius: 5px;
}
.input__error {
  color: #db3232;
}
.input__checkbox {
  width: clamp(1rem, 3vw + 0.5rem, 1.5rem);
  height: clamp(1rem, 3vw + 0.5rem, 1.5rem);
}

/*:root {
    --font-family: "M PLUS Rounded 1c", serif;

    --font-size-text: clamp(1rem, 3vw + 0.5rem, 1.5rem);
    --font-size-h3: clamp(1.2rem, 5vw + 0.5rem, 1.6rem);
}

$font-family: var(--font-family);
$font-size-text: var(--font-size-text);
$font-size-h3: var(--font-size-h3);*/
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 15px;
  font-weight: 500;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid black;
}
.btn__primary {
  border-color: #0fbda6;
  background-color: #0fbda6;
  color: #f3f6f9;
}
.btn__primary:hover {
  border-color: #11d4ba;
  background-color: #11d4ba;
}
.btn__primary:active {
  border-color: #0da591;
  background-color: #0da591;
}
.btn__primary--flat {
  background-color: transparent;
  border-color: transparent;
  color: #0fbda6;
}
.btn__primary--flat:hover {
  background-color: #11d4ba;
  border-color: transparent;
  color: #f3f6f9;
}
.btn__primary--flat:active {
  background-color: #0da591;
  border-color: transparent;
  color: #f3f6f9;
}
.btn__accent {
  border-color: #71a3e5;
  background-color: #71a3e5;
  color: #f3f6f9;
}
.btn__accent:hover {
  border-color: #7eabe7;
  background-color: #7eabe7;
  color: #f3f6f9;
}
.btn__accent:active {
  background-color: #689ee3;
  border-color: #689ee3;
  color: #f3f6f9;
}
.btn__accent--flat {
  background-color: transparent;
  border-color: transparent;
  color: #71a3e5;
}
.btn__accent--flat:hover {
  border-color: transparent;
  background-color: #7eabe7;
  color: #f3f6f9;
}
.btn__accent--flat:active {
  border-color: transparent;
  background-color: #689ee3;
  color: #f3f6f9;
}
.btn__danger {
  border-color: #db3232;
  background-color: #db3232;
  color: #f3f6f9;
}
.btn__danger:hover {
  border-color: #e05252;
  background-color: #e05252;
  color: #f3f6f9;
}
.btn__danger:active {
  background-color: #c32222;
  border-color: #c32222;
  color: #f3f6f9;
}
.btn__danger--flat {
  background-color: transparent;
  border-color: transparent;
  color: #db3232;
}
.btn__danger--flat:hover {
  border-color: transparent;
  background-color: #e05252;
  color: #f3f6f9;
}
.btn__danger--flat:active {
  border-color: transparent;
  background-color: #c32222;
  color: #f3f6f9;
}

.signIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: auto;
}
.signIn__main .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 100%;
}
.signIn__main .section--rememberMe {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.signIn__main .section .title {
  color: #0fbda6;
  font-weight: 500;
}
.signIn__main .section .validation {
  color: #db3232;
}