@{
    ViewData["Title"] = "Администрирование";
}

<head>
    <link rel="stylesheet" href="~/css/Pages/Admin/Admin.css" asp-append-version="true" />
</head>

<div class="admin wrapper wrapper--padding">
    <div class="card">
        <section class="card__section">
            <h3>Панель администрирования</h3>
        </section>
        <section class="card__section admin__tools">
            <a asp-controller="Admin" asp-action="Users" class="admin__tools-item">
                <span class="material-symbols-outlined icon">group</span>
                <h3 class="text">Пользователи</h3>
            </a>
            <a asp-controller="Shifts" asp-action="Index" class="admin__tools-item">
                <span class="material-symbols-outlined icon">cards</span>
                <h3 class="text">Смены приложения</h3>
            </a>
            @* <a asp-controller="Admin" asp-action="Index" class="admin__tools-item">
                <span class="material-symbols-outlined icon">monitoring</span>
                <h3 class="text">Статистика</h3>
            </a> *@
        </section>
    </div>
</div>