@using WorkyOne.MVC.Models.Schedule

@model SchedulesViewModel

@{
    ViewData["Title"] = "Управление расписаниями";
}
<head>    
    <link rel="stylesheet" href="~/css/Pages/Schedules/Schedules.css" asp-append-version="true" />    
</head>

<div class="wrapper wrapper--padding">
    <div class="schedules">
        <div class="schedules__header">
            <div class="card">
                <section class="card__section card__section--row header__info">
                    <span>Количество расписаний:</span> 
                    <span>@Model.Schedules.Count</span>
                </section>
                <section class="card__section card__section--row header__control">
                    <a asp-controller="schedules" asp-action="create" class="btn btn__primary">
                        <span class="material-symbols-outlined">add_circle</span>
                        <span>Создать расписание</span>
                    </a>
                </section>
            </div>
        </div>
        <div class="schedules__body">
            <div class="schedules__list">
                @foreach (var schedule in Model.Schedules)
                {
                    string favorite = schedule.Id == Model.FavoriteScheduleId ? "favorite favorite--active" : "favorite";

                    <div data-id="@schedule.Id" class="card schedules__item">
                        <section class="card__section schedules__item-controls">
                            <button class="material-symbols-outlined btn btn__primary btn__primary--flat @favorite">star</button>
                            <button class="material-symbols-outlined btn btn__primary btn__primary--flat edit">edit</button>
                            <button class="material-symbols-outlined btn btn__primary btn__primary--flat delete">delete_forever</button>
                        </section>
                        <div class="card__divider card__divider--primary"></div>
                        <section class="card__section schedules__item-title">
                            <h3>@schedule.Name</h3>
                        </section>
                    </div>                    
                }
            </div>            
        </div>
    </div>
</div>

<script src="~/js/Schedule/script.js" asp-append-version="true"></script>

