@using WorkyOne.MVC.Models.Schedule

@model SchedulesViewModel

<head>
    <link rel="stylesheet" href="~/css/Pages/Schedules/Schedules.css" asp-append-version="true" />    
</head>

<div class="wrapper wrapper--padding">
    <div class="schedules">
        <div class="schedules__header">
            <div class="header__info">
                <span>Количество расписаний:</span>
                <span>@Model.Schedules.Count</span>
            </div>
            <div class="header__controls">
                <a href="#" class="btn btn__primary control control--create">
                    <span class="material-symbols-outlined">add_circle</span>
                    <span>Создать расписание</span>
                </a>
            </div>
        </div>
        <div class="schedules__body">
            <div class="schedules__list">
                @foreach (var schedule in Model.Schedules)
                {
                    <div data-id="@schedule.Id" class="schedules__item item">                        
                        <div class="item__section item__section--title">
                            <h3>@schedule.Name</h3>
                            <button class="favorite material-symbols-outlined favorite--active">star</button>
                        </div>
                        <div class="item__section item__section--controls">
                            <button class="edit btn btn__primary material-symbols-outlined">edit</button>
                            <button class="delete btn btn__accent material-symbols-outlined">delete_forever</button>
                        </div>
                    </div>
                }
            </div>            
        </div>
    </div>
</div>

<script src="~/js/Schedule/script.js" asp-append-version="true"></script>

