@import "../Imports/_all.scss";

.btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 15px;
    font-weight: 500;
    border-radius: 8px;
    transition: all 0.3s ease;



    &__primary {
        border-width: 2px;
        border-style: solid;
        border-color: $color-primary-500;
        background-color: $color-primary-500;
        color: $color-primary-fg;

        &:hover {
            border-color: $color-primary-400;
            background-color: $color-primary-400;
        }

        &:active {
            border-color: $color-primary-600;
            background-color: $color-primary-600;
        }

        &--flat {
            border-width: 2px;
            background-color: transparent;
            border-color: transparent;
            color: $color-primary;

            &:hover {
                background-color: $color-primary-400;
                border-color: transparent;
                color: $color-primary-fg;
            }

            &:active {
                background-color: $color-primary-600;
                border-color: transparent;
                color: $color-primary-fg;
            }
        }
    }

    &__accent {
        border: 2px solid $color-accent-500;
        background-color: $color-accent-500;
        color: $color-accent-fg;

        &:hover {
            border: 2px solid $color-accent-400;
            background-color: $color-accent-400;
            color: $color-accent-fg;
        }

        &:active {
            background-color: $color-accent-600;
            border-color: $color-accent-600;
            color: $color-accent-fg;
        }

        &--flat {
            border: 0px solid $color-accent;
            background-color: transparent;
            color: $color-accent;

            &:hover {
                border: 0px solid $color-accent;
                background-color: $color-accent;
                color: $color-accent-fg;
            }
        }
    }
}