@import "../Imports/_all.scss";

.input {

    &__text {
        outline: none;
        padding: 5px 10px;
        border-color: $color-primary;
        background-color: $color-background;
        transition: all 0.2s ease;
        border: 0 solid black;
        border-bottom: 2px solid $color-primary;
        /*box-shadow: 0 0 3px $color-primary-transparent-5;*/

        &:focus {
            border-color: $color-accent;
            box-shadow: 0 0 8px $color-accent;
        }

        &--outlined {           
            border: 2px solid $color-primary;
            /*border-bottom: 3px solid $color-primary;*/
            border-radius: 5px;
            
        }
    }



    &__error {
        color: $color-danger;
    }

    &__checkbox {
        width: $font-size-text;
        height: $font-size-text;
    }
}
