@import "../Imports/_all.scss";

.input {
    outline: none;
    padding: 5px 10px;
    border-color: $color-primary;
    border: 0 solid black;

    &:focus {
        border-color: $color-accent;
        box-shadow: 0 0 8px $color-accent;
    }

    &__text {
        background-color: $color-background-input;
        transition: all 0.2s ease;
        border-bottom: 2px solid $color-primary;
        width: 100%;

        &--outlined {
            border: 2px solid $color-primary;
            border-radius: 5px;
        }
    }

    &__date {
        border: 2px solid $color-primary;
        border-radius: 5px;
    }

    &__select {
        background-color: $color-background-input;
        transition: all 0.2s ease;
        border: 2px solid $color-primary;
        border-radius: 5px;
    }

    &__color {
        padding: 0;
        min-height: 40px;
        width: 100%;
        border: 2px solid $color-primary;
        border-radius: 5px;
    }

    &__error {
        color: $color-danger;
    }

    &__checkbox {
        width: $font-size-text;
        height: $font-size-text;
    }
}
