@import "../Imports/_all.scss";

.input {

    &__text {
        outline: none;
        border: 1px solid $color-primary;
        border-bottom: 3px solid $color-primary;
        border-radius: 5px 5px 8px 8px;
        padding: 5px 10px;
        transition: all 0.1s ease;

        &:focus {
            border: 1px solid $color-accent;
            border-bottom: 3px solid $color-accent;
            box-shadow: 0 0 8px $color-accent;
        }
    }

    &__checkbox {
        width: $font-size-text;
        height: $font-size-text;
    }
}
