.pagination {
    display: grid;
    border-width: 2px;
    grid-column-gap: 10px;
    grid-template-columns: auto 1fr auto;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr;


    @media(min-width: 670px) {
        grid-template-columns: auto minmax(300px, auto) auto;
        margin: 0 auto;
    }

    &__arrow {
        cursor: pointer;
        position: relative;
        width: 40px;
        height: 30px;

        &-line {
            position: absolute;
            left: 50%;
            top: 50%;
            display: block;
            height: 2.5px;
            width: 50%;
            background-color: $color-primary;
            border-radius: 5px;
            transition: all 0.2s ease;

            &--top {
                transform-origin: top left;
                transform: translateY(-50%) translateX(-50%) rotate(40deg);
            }

            &--bottom {
                transform-origin: bottom left;
                transform: translateY(-50%) translateX(-50%) rotate(-40deg);
            }
        }

        &:active {

            .pagination__arrow-line--top {
                transform: translateY(-50%) translateX(-50%) rotate(30deg);
            }

            .pagination__arrow-line--bottom {
                transform: translateY(-50%) translateX(-50%) rotate(-30deg);
            }
        }

        &--left {
        }

        &--right {
            transform: rotate(180deg);
        }
    }

    &__info {
        color: $color-primary;
        display: flex;
        justify-content: center;
    }
}
